{% extends "layouts/admin.html" %}
{% block title %}Add Staff{% endblock %}
{% block page_heading %}Add Staff{% endblock %}
{% block content %}
<div class="app-card">
    <form action="{{ url_for('save_staff') }}" method="POST" class="row g-3">
        <div class="col-12">
            <label class="form-label" for="staff_id">Staff ID</label>
            <input class="form-control" id="staff_id" name="staff_id" required>
        </div>
        <div class="col-12">
            <label class="form-label" for="name">Staff Name</label>
            <input class="form-control" id="name" name="name" placeholder="Staff Name">
        </div>
        <div class="col-12">
            <label class="form-label" for="password">Password</label>
            <input class="form-control" type="password" id="password" name="password" required>
        </div>
        <div class="col-12">
            <button type="submit" class="btn btn-primary w-100"><i class="bi bi-save me-1"></i> Save Staff</button>
        </div>
    </form>
</div>
{% endblock %}
